*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: white;
}

header{
    background-color: rgb(87, 14, 14);
    height: 100px;
    display: flex;
    justify-content: center;
   
}

footer{
    height: 100px;
    background-color: rgb(63, 61, 61);
}

